/* // About page (/about) */
.info {
    margin: auto;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.9em;
	width: 50%;
    /* line-height: 2em; */
    /* letter-spacing: 0.1em; */
}

.box {
	width: 55%;
	height: 10%;
	border: 2px solid #000;
	margin: 0 auto 15px;
	text-align: center;
	padding: 20px;
	font-weight: bold;
	border-radius: 10px;
  }

.buy {
	width: 60%;
}
/* .table {
	width: 60%;
} */

.selling {
	width: 30%;
	position: absolute;
	right: 1%;
}

.purchased {
	width: 30%;
	position: absolute;
	right: 1%;
}